In [183]:
import copy

In [184]:
# machine = int(input("Enter 0 for mealy and 1 for moore"))
# print("mealy" if machine==0 else "moore")

In [185]:
import pandas as pd
table = pd.read_csv("mealy.csv", header = 0)

In [186]:
table.head()

Empty DataFrame
Columns: [Present State, Next state x=0, Next state x=1, Output x=0, Output x=1]
Index: []

In [187]:
# ADDING ROWS TO TABLE
# rowDict = {'Present State': ['a','b','c','d'],
#         'Next state x=0':['b','b','b','b'],
#         'Next state x=1':['c','d','a','c'],
#         'Output x=0':    [0,0,0,1],
#         'Output x=1':    [0,0,0,0]}
# rowDict = {'Present State': ['a','b','c','d','e'],
#         'Next state x=0':['b','b','b','e','b'],
#         'Next state x=1':['c','d','a','c','d'],
#         'Output x=0':    [0,0,0,1,0],
#         'Output x=1':    [0,0,0,0,0]}

# rowDict = {'Present State': ['a','b','c','d','e','f'],
#         'Next state x=0':['b','a','d','c','a','e'],
#         'Next state x=1':['c','e','a','e','f','f'],
#         'Output x=0':    [0,1,0,1,1,0],
#         'Output x=1':    [1,0,1,0,0,1]}

# rowDict = {'Present State': ['a','b','c','d','e','f','g'],
#         'Next state x=0':['b','d','f','a','a','a','a'],
#         'Next state x=1':['c','e','g','a','a','a','a'],
#         'Output x=0':    [0,0,0,0,1,0,1],
#         'Output x=1':    [0,0,0,0,0,0,0]}

# rowDict = {'Present State': ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o'],
#         'Next state x=0':   ['b','d','f','h','j','l','n','a','a','a','a','a','a','a','a'],
#         'Next state x=1':   ['c','e','g','i','k','m','o','a','a','a','a','a','a','a','a'],
#         'Output x=0':       [0,0,0,0,0,0,0,0,0,0,1,0,1,0,0],
#         'Output x=1':       [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}


rowDict = {'Present State': ['a','b','c','d','e','f','g'],
        'Next state x=0':['a','d','f','d','b','g','a'],
        'Next state x=1':['b','c','b','f','g','c','f'],
        'Output x=0':    [0,0,0,0,0,0,0],
        'Output x=1':    [0,1,0,0,0,1,0]}


# rowTable = table.append(rowDict, ignore_index = True)
rowTable = pd.DataFrame(rowDict)

In [188]:
rowTable.head()

  Present State Next state x=0 Next state x=1  Output x=0  Output x=1
0             a              a              b           0           0
1             b              d              c           0           1
2             c              f              b           0           0
3             d              d              f           0           0
4             e              b              g           0           0

In [189]:
table = rowTable.values.tolist()
table

[['a', 'a', 'b', 0, 0],
 ['b', 'd', 'c', 0, 1],
 ['c', 'f', 'b', 0, 0],
 ['d', 'd', 'f', 0, 0],
 ['e', 'b', 'g', 0, 0],
 ['f', 'g', 'c', 0, 1],
 ['g', 'a', 'f', 0, 0]]

In [190]:
#finding fully equivalent row

"""
0: 00
1: 01
2: 10
3: 11
"""

output = [[],[],[],[]]
for i in range(len(table)):
    for j in range(len(table)):
        if i!=j:
#             print(table[i][1:],table[j][1:],table[i][1:]==table[j][1:])
            if table[i][1:]==table[j][1:]:
#                 print(table[i])
                if table[i][3:]==[0,0]:
                    output[0].append(table[i][0])
                elif table[i][3:]==[0,1]:
                    output[1].append(table[i][0])
                elif table[i][3:]==[1,0]:
                    output[2].append(table[i][0])
                elif table[i][3:]==[1,1]:
                    output[3].append(table[i][0])
for i in range(len(output)):
    output[i]= list(set(output[i]))
    output[i].sort()     
output

[[], [], [], []]

In [191]:
# #deleting equivalent rows
# res_arr = []
# for i in output:
#     if len(i) != 0:
#         for k in range(len(table)):
#             if table[k][0] in i[1:]:
#                 del table[k]
#                 break

In [192]:
table

[['a', 'a', 'b', 0, 0],
 ['b', 'd', 'c', 0, 1],
 ['c', 'f', 'b', 0, 0],
 ['d', 'd', 'f', 0, 0],
 ['e', 'b', 'g', 0, 0],
 ['f', 'g', 'c', 0, 1],
 ['g', 'a', 'f', 0, 0]]

In [193]:
# replacing equivalent rows
for i in output:
    if len(i) != 0:
        for j in table:
            if j[1] in i[1:]:
                j[1] = i[0]
            if j[2] in i[1:]:
                j[2] = i[0]

table

[['a', 'a', 'b', 0, 0],
 ['b', 'd', 'c', 0, 1],
 ['c', 'f', 'b', 0, 0],
 ['d', 'd', 'f', 0, 0],
 ['e', 'b', 'g', 0, 0],
 ['f', 'g', 'c', 0, 1],
 ['g', 'a', 'f', 0, 0]]

In [194]:
STable =[]
for i in range(len(table)):
    t=[]
    for j in range(len(table)):
        t.append([])
    STable.append(t)
STable

[[[], [], [], [], [], [], []],
 [[], [], [], [], [], [], []],
 [[], [], [], [], [], [], []],
 [[], [], [], [], [], [], []],
 [[], [], [], [], [], [], []],
 [[], [], [], [], [], [], []],
 [[], [], [], [], [], [], []]]

In [195]:
def disp(l):
    for i in l:
        print(i)

In [196]:
"""
range: row: B-D 1-3
       col: A-C 0-2
"""

disp(table)

['a', 'a', 'b', 0, 0]
['b', 'd', 'c', 0, 1]
['c', 'f', 'b', 0, 0]
['d', 'd', 'f', 0, 0]
['e', 'b', 'g', 0, 0]
['f', 'g', 'c', 0, 1]
['g', 'a', 'f', 0, 0]

In [197]:
# first iteration
import time
from IPython.display import clear_output

row = 0
col = 0

for i in range(0, len(table)):
    for j in range(0, len(table)):
        disp(STable)
        time.sleep(0.5)
        clear_output(wait=True)
        
        if i!=j and i<j and row<len(table):
            if table[i][3:]==table[j][3:] and 'X' not in STable[row][col]:
                if table[i][1] != table[j][1] and (table[i][0]+table[j][0]) != table[i][1]+table[j][1] and (table[i][0]+table[j][0]) != table[j][1]+table[i][1]:
                    STable[row][col].append(table[i][1]+"="+table[j][1])
                if (table[i][2]+"="+table[j][2]) not in STable[row][col] and table[i][2] != table[j][2] and (table[i][0]+table[j][0]) != table[i][2]+table[j][2] and (table[i][0]+table[j][0]) != table[j][2]+table[i][2]:
                    STable[row][col].append(table[i][2]+"="+table[j][2])
            else:
                STable[row][col].append('X')
            if len(STable[row][col])==0:
                STable[row][col].append('X')
        row+=1
    col+=1
    row=0
    
disp(STable)

[[], [], [], [], [], [], []]
[['X'], [], [], [], [], [], []]
[['a=f'], ['X'], [], [], [], [], []]
[['b=f'], ['X'], ['f=d', 'b=f'], [], [], [], []]
[['a=b', 'b=g'], ['X'], ['f=b', 'b=g'], ['d=b', 'f=g'], [], [], []]
[['X'], ['d=g'], ['X'], ['X'], ['X'], [], []]
[['b=f'], ['X'], ['f=a', 'b=f'], ['d=a'], ['b=a', 'g=f'], ['X'], []]

In [198]:
chr(97+1)

'b'

In [199]:
row = 'b'
col = 'a'
row1 = 0
col1 = 0
notEqState = []
for i in range(1, len(STable)):
    for j in range(0, i):
        print(STable[i][j], end =" ")
        if 'X' in STable[i][j]:
            notEqState.append(row+'='+col)
        col = chr(ord(col)+1)
    row = chr(ord(row)+1)
    col = 'a'
    print()


#         print(STtable[i][j])
notEqState

['X']
['a=f'] ['X']
['b=f'] ['X'] ['f=d', 'b=f']
['a=b', 'b=g'] ['X'] ['f=b', 'b=g'] ['d=b', 'f=g']
['X'] ['d=g'] ['X'] ['X'] ['X']
['b=f'] ['X'] ['f=a', 'b=f'] ['d=a'] ['b=a', 'g=f'] ['X']

['b=a', 'c=b', 'd=b', 'e=b', 'f=a', 'f=c', 'f=d', 'f=e', 'g=b', 'g=f']

In [200]:
def implication_table_step():
    row = 'b'
    col = 'a'
    for i in range(1, len(STable)):
        for j in range(0, i):
#             disp(STable)
#             time.sleep(0.5)
#             clear_output(wait=True)
#             print(STable[i][j], end =" ")
            for k in STable[i][j]:
                if k in notEqState or k[::-1] in notEqState and k!='X':
                    notEqState.append(row+'='+col)
#                     notEqState.extend(STable[i][j])
                    STable[i][j]=['X']
            col = chr(ord(col)+1)
        row = chr(ord(row)+1)
        col = 'a'

#     print()

<h1>Please add that count condition to the below function</h1>

In [201]:
def repeat_implication_table():
    xCount = 0
    xCountNew = 0
    for i in range(1, len(STable)):
        for j in range(0, i):
            xCount = 0
            xCountNew = 0
            for k in range(1, len(STable)):
                for l in range(0, i):
                    if STable[i][j]==['X']:
                        xCount+=1
            implication_table_step()
            for k in range(1, len(STable)):
                for l in range(0, i):
                    if STable[i][j]==['X']:
                        xCountNew+=1
#             print('test',xCountNew,int((len(STable)-1)*(len(STable))/2))
            if xCount==xCountNew or xCountNew==int((len(STable)-1)*(len(STable))/2):
                return

In [202]:
disp(STable)

[[], [], [], [], [], [], []]
[['X'], [], [], [], [], [], []]
[['a=f'], ['X'], [], [], [], [], []]
[['b=f'], ['X'], ['f=d', 'b=f'], [], [], [], []]
[['a=b', 'b=g'], ['X'], ['f=b', 'b=g'], ['d=b', 'f=g'], [], [], []]
[['X'], ['d=g'], ['X'], ['X'], ['X'], [], []]
[['b=f'], ['X'], ['f=a', 'b=f'], ['d=a'], ['b=a', 'g=f'], ['X'], []]

In [203]:
repeat_implication_table()
# disp(STable)

In [204]:
equivalentStates = []
for i in range(1, len(STable)):
    for j in range(0, i):
        if STable[i][j]!=['X']:
            equivalentStates.append(STable[i][j])
equivalentStates

[['b=f'], ['d=g'], ['b=f'], ['d=a']]

In [205]:
for i in equivalentStates:
    for j in range(len(table)):
        if table[j][0]==i[0][-1]:
#             print(table[j])
            del table[j]
            break
    for j in range(len(table)):
        for k in range(1,3):
            if table[j][k]==i[0][-1]:
                table[j][k]=i[0][0]

In [206]:
table

[['b', 'd', 'c', 0, 1],
 ['c', 'b', 'b', 0, 0],
 ['d', 'd', 'b', 0, 0],
 ['e', 'b', 'd', 0, 0]]